* { 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
.status {
  margin-bottom: 100px;
}

span {
  display: block;
  margin: auto;
  width: 32%;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 50px;
}

form {
  text-align: center;
  font-size: 22px;
}

.answers {
  display: inline-block;
  margin: auto;
  text-align: left;
}

input {
  margin-bottom: 15px;
  margin-right: 10px;
}

p {
  text-align: center;
  font-size: 22px;
  margin-bottom: 30px;
}

.wrong {
  color: red;
}

.right {
  color: green;
}

.buttons {
  text-align: center;
  margin-top: 30px;
}

input[type="radio"] {
  margin-top: 11px;
  vertical-align: middle;
}

button {
  display: inline-block;
  background-color:#2B78E5;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  margin: auto;
  box-shadow: 2px 2px 2px black;
  border-radius: 2px;
  border: 2px solid black;
}

@media only screen and (min-width: 500px){
  span {
  display: inline-block;
  width: 32%;
  text-align: center;
  }
}